body{
	background-color: white;
    padding: 0;
	margin: 0;
}
.menu{
	background: silver;
	width: 100%;
	height: 50px;
	font-size: 20px;
	padding: 5 15px;
	display: flex;
	align-items: center;

}	
.menu>a{
	text-decoration: none;
	color: black;
	margin-left: 10px;
    transition: color 0.4s;
}
.menu>a:hover{
	color: white;
}

.main{
	background: black;
	opacity: 0.8;
	width: 100%;
	height: 150%;
	color: white;
}
p{
	float: left;
    margin: 7px 7px 7px 0;
}	

         /*Увійти*/
	
.main_2{
	background: black;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	color: white;
}	
.blok{
	background: linear-gradient(to right, #f09516, #f09516, #f09516);
	width: 300px; 
	height: 330px;
	border-radius: 5px;
}
input[type=text]{
	text-align: center;
    width: 250px;
	height: 30px;
}
input[type=email]{
	text-align: center;
    width: 250px;
	height: 30px;
}
input[type=password]{
	text-align: center;
    width: 250px;
	height: 30px;
}
.button{
	width: 130px;
	height: 30px;
	background: #45fc03;
    transition: background 0.3s;
	text-decoration: none;
	color: white;
}
.button:hover{
	background: #4dc920;
}
footer{
	background: black;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
    font-size: 18px;
	color: white;
}
